.logo img {
  height: 40px;
  width: 40px;
}

#home {
  background: url("../assets/bg.jpg");
  background-position: bottom !important;
  background-size: cover;
}

.icon svg,
.icon img {
  max-width: 50%;
  max-height: 50%;
}

.icon svg {
  transform: translateY(10px);
}

.project-view {
  transition: 0.25s 0.2s;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 3px 10px;
  font-size: 18px;
  margin: 3px 4px;
  transform: scale(0.6);
  opacity: 0;
}

.portfolio-items .item:hover .project-view {
  opacity: 1;
  transform: scale(1);
}

.nav-link {
  font-size: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #222222;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

.details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: -1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.details img {
  width: 400px;
  max-width: 100%;
  border: 1px solid #222222;
  display: block;
  margin: 0 auto;
}

.details-close {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #222222;
  z-index: 1001;
  font-size: 30px;
  cursor: pointer;
}

.details-close:hover {
  color: #888888;
}

.details-inner {
  width: 100%;
  max-width: 700px;
  background-color: white;
  box-shadow: 0 2px 10px 7px rgba(34, 34, 34, 0.3);
  padding: 50px 60px;
  position: relative;
  opacity: 0;
  transform: translateY(50%);
  transition: 0.4s 0.2s ease-out;
  overflow-y: scroll;
  max-height: 90vh;
}

.details-inner .buttons {
  margin-top: 20px;
  text-align: right;
  transform: translate(25px, 20px);
}

.details-inner .buttons a:visited,
.details-inner .buttons a:active {
  color: #fff;
}

.details-inner .buttons a:hover {
  color: #222;
}

.details-show {
  opacity: 1;
  z-index: 1000;
}

.details-show .details-inner {
  transform: translateY(0);
  opacity: 1;
}

.details ul > * {
  list-style-type: disc !important;
  font-weight: 500;
}
